{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Detailed View Trade Post -->
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mb-4 bg-dark">
                <img src="{{ tradepost.trade_image.url }}" class="card-img-top" alt="Trade Image">
                <div class="card-body">
                    <h2 class="card-title text-light">{{ tradepost.title }}</h2>
                    <p class="text-warning fst-italic">{{ tradepost.description | safe }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark text-light">Author: {{ tradepost.author.username }}</li>
                        <li class="list-group-item bg-dark text-light">Created at: {{ tradepost.created_at }}</li>
                        <li class="list-group-item bg-dark text-light">Updated at: {{ tradepost.updated_at }}</li>

                        <!-- Rating Functionality -->
                        {% if user.is_authenticated %}
                            {% if not existing_rating %}                          
                                <form class="d-inline" action="{% url 'tradepost_rating' tradepost.slug %}" method="post" >
                                    {% csrf_token %}
                                    <p class="fw-bold text-success">Rate this Trade!</p>
                                    <select name="rating" id="numberSelect">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select> 
                                    <button type="submit" class="btn btn-success">Rate</button>
                                </form>                           
                            {% else %}
                                <li class="list-group-item bg-dark text-white">You have already rated this Trade.</li>
                            {% endif %}
                        {% endif %}
                        <li class="list-group-item bg-dark text-light">Average Rating: {{ tradepost.average_rating }}</li>
                    </ul>
                </div>
            </div>

            <!-- Comments -->
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title">Comments</h3>
                            {% for comment in comments %}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ comment.name }}</h5>
                                        <p class="card-text text-black fst-italic">{{ comment.body }}</p>
                                        <p class="card-text text-black fst-italic">Created at: {{ comment.created_at }}</p>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No comments yet.</p>
                            {% endfor %}
                        </div>
            
                        <!-- Form for adding comments -->
                        <div class="col-md-6">
                            {% if commented %}
                                <div class="alert alert-success" role="alert">
                                    Your comment is awaiting approval
                                </div>
                            {% else %}
                                {% if user.is_authenticated %}
                                    <div class="container">
                                        <h3>Leave a comment:</h3>
                                        <p>Posting as: {{ user.username }}</p>
                                        <form action="" method="post" style="margin-top: 1.3em;">
                                            {{ comment_form | crispy }}
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success btn-lg" style="margin-top:15px">Submit</button>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
