{% extends "base.html" %}

{% block content %}

<!-- Form for Trade Post Creation -->
<section class="bg-light py-5" id="contactsec">
    <div class="container px-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder mb-4" style="color: #333; font-size: 2.5rem;">Enter Your Trade Information</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <form method="POST" action="{% url 'tradepost_create_submit' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input class="form-control" name="title" type="text" placeholder="Enter title..." required />
                        <label for="title">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="description" placeholder="Enter description..." style="height: 10rem" required></textarea>
                        <label for="description">Description</label>
                    </div>
                    <div class="form-group mb-3">
                        <label for="trade_image" class="custom-label">Trade Image</label>
                        <input class="form-control" name="trade_image" type="file" id="trade_image" />
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Create TradePost</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

